@import 'tailwindcss';
@import '@repo/ui/styles.css';

:root {
  --background: #ffffff;
}
header {
  text-align: left;
  color: black;
  font-style: italic;
  font-size: 1.5rem;
  background-color: transparent;
  height: auto;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.header-button {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  padding: 4px 8px;
  font-size: 0.9rem;
}
